<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Carousel indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <!-- Wrapper for carousel items -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="images/accord.png" alt="accord">
      <div class="carousel-caption">
        <h3>2014 Hodna Accord</h3>
        <p>Roomy and high-quality interior; refined and efficient powertrains; quick acceleration; responsive handling; available coupe body style.</p>
      </div>
    </div>
    <div class="item">
      <img src="images/brz.png" alt="brz">
      <div class="carousel-caption">
        <h3>2015 Subaru BRZ</h3>
        <p>Not only is the graceful coupe a surprise from bland Subaru, it also is a knockout on the street, yanking heads around in double-takes the whole test period.</p>
      </div>
    </div>
    <div class="item">
      <img src="images/corolla.png" alt="corolla">
      <div class="carousel-caption">
        <h3>2015 Toyota Corolla</h3>
        <p>Copious rear legroom; impressive fuel economy; user-friendly controls; generous standard equipment; pleasant ride.</p>
      </div>
    </div>
    <div class="item">
      <img src="images/equinox.png" alt="equinox">
      <div class="carousel-caption">
        <h3>2014 Chevrolet Equinox</h3>
        <p>Premium look inside and out; strong optional V6 engine; quiet interior; comfortable highway ride; spacious and adjustable backseat.</p>
      </div>
    </div>
  </div>
  <!-- Carousel controls -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
  <!-- Welcome Msgs -->
  <div class="float-l">
    <h2>Welcome</h2>
    <p>Rentacar lets you rent various cars for a short period of time</p>
  </div>
  <div class="hot">
    <h2>Deals</h2>
    <p>Get a 20%OFF when you first rent a car and additional coupons when you refer a friend to our</p>
  </div>

</div>
